.login {
  background-image: url('../assets/images/office.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.vh100 {
  height: 100vh;
}

header {
  background-color: #283E4A;
}

.navbar-brand img {
  width: 7%; 
}

.IN-widget {
  padding: 0;
  /* margin: 10em 35em; */
}